[2022-03-24 02:41] GeomKid opened #667 "[BUG] The Unstable Syncing of Guild Commands"
### Describe the bug.

When the bot is started with `disable_sync=False` the guild commands were not synced correctly for example :
[code]
guild 1 will have test1 and test 2
but
guild 2 will only have test 2
This also happens inside extensions

### List the steps.

1. Import module
2. Create guild command
3. Start Bot
4. Wait till the bot started completely
5. Go to Guild1 and Guild 2 to see the s

[2022-03-25 20:42] sillyElvy opened #671 "[REQUEST] Examples in documentation"
### Describe the feature.

Implementation of examples per function for a better example of the usage of the function

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-03-26 15:59] B1ue-Dev opened #673 "[BUG] Application ``icon_url`` property returns an error when none of any picture is set for the application on discord.com/developers"
### Describe the bug.

Previously, on Pull Request https://github.com/interactions-py/library/pull/656, I added a property to get the Application's icon URL with ``icon_url``. However, I realized that I understood the wrong way between how Application icon and user icon works. My bad first.

Next pull request will be for fixing this specific problem.

### List the steps.

1. Remove all picture/ava

[2022-03-26 17:35] #673 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-26 21:33] r-warfield commented on #623
might have fixed it, may pr soon

[2022-03-27 15:32] B1ue-Dev opened #678 "[REQUEST] Adding a section describing how Client event can be used"
### Describe the feature.

I think since the library itself does support Discord gateway events, there should be a dedicated section for examples about how these events can be used in production, such as making a simple example about ``on_message_create`` or things like that.

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-03-27 19:45] #582 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-27 19:50] #623 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-27 19:58] #594 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-28 11:27] B1ue-Dev opened #679 "[REQUEST] Adding ``icon_url`` property for returning the guild's icon under api.models.guild.Guild"
### Describe the feature.

Title.

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-03-29 05:28] r-warfield opened #681 "[REQUEST] Change how event data is built to fix bugs and remove some redundancy"
### Describe the feature.

#487

although we arent 100% *how* the best way of doing it yet, it would be good to refactor how event data is built to remove bugs like `An error occured dispatching message_reaction_remove_all: module 'interactions' has no attribute 'MessageReactionRemove'` due to previously relying on `gw.py` for all the event models, even if their names don't make much sense (`Guild

[2022-03-29 05:29] r-warfield commented on #487
#681

[2022-03-29 15:07] V3ntus commented on #623
Reopen requested

[2022-03-29 19:20] V3ntus opened #683 "[BUG] kwargs modified during iteration in the DictSerializerMixin"
### Describe the bug.

This seems to be invoked inconsistently and I'm not quite sure what triggers it

### List the steps.

- This first originated from a simple `ctx.send` with an embed

### What you expected.

Normal operation

### What you saw.

[code]

### What version of the library did you use?

unstable

### Version specification

_No response_

### Code of Conduct

- [X] I agree to follow

[2022-03-29 19:21] sillyElvy commented on #683
I would not be surprised if its the fault of `__setattr__`

(I swear I never encountered this while testing)

[2022-03-29 19:23] V3ntus commented on #683
It seems like EmbedFields are converting from objects to json during iteration somehow?
[code]

Using this code to test: `api/models/misc.py:40-53`
[code]

[2022-03-29 19:24] sillyElvy commented on #683
y e a h

`__setattr__` in the embed class

but again, when I tested it worked fine

[2022-03-29 19:25] V3ntus commented on #683
This is an edge case. Another embed (with a single field) works

[2022-03-29 19:25] sillyElvy commented on #683
I had multiple fields tho

[2022-03-29 19:35] V3ntus opened #684 "[BUG] Phantom `timestamp` being added to Embeds at HTTP POST response"
### Describe the bug.

Users are reporting a `timestamp` field is being added onto embeds when it reaches Discord, even though they did not set `timestamp` to anything

### List the steps.

Create a simple embed and send it normally

### What you expected.

No timestamp

### What you saw.

[code]

Oddly this is being added during a mixin iteration

Here: https://github.com/interactions-py/library/

[2022-03-29 19:36] V3ntus commented on #684
*Possibly* linked with #683 in some way? Maybe?

Edit: probably not

[2022-03-29 19:38] sillyElvy commented on #684
hrm

if you check data before and after hit, one has timestamp set to none, in the other its not present

that could be the issue, since I remove `None` values from the dicts..

[2022-03-29 19:44] V3ntus commented on #684
Not exactly sure what you mean, sorry

Considering this code in `api/models/message.py`, if `timestamp` is `None`, it adds `utcnow`, it doesn't do any sort of removing
[code]

[2022-03-29 19:45] sillyElvy commented on #684
![grafik](https://user-images.githubusercontent.com/88881326/160694657-cfe74435-e3d2-447f-8693-76116585af15.png)

i remove `None` values, maybe that's the issue there?

[2022-03-29 19:46] V3ntus commented on #684
Oh yeah this happens without the presence of `timestamp` in my `Embed` object too. I was testing to see if `timestamp=None` would do anything different

[2022-03-29 20:22] #683 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-31 16:12] #679 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-31 16:22] mAxYoLo01 opened #689 "[BUG] Autocomplete fails when disable_sync=True"
### Describe the bug.

Same problem than in #582, but outside of an extension. The error message is different though.

### List the steps.

1. Create a command
[code]

2. Create an autocomplete callback to this command
[code]

### What you expected.

Autocomplete callback registered

### What you saw.

[code]

### What version of the library did you use?

unstable

### Version specification

_No r

[2022-03-31 16:28] i0bs commented on #664
This Issue is really hard to understand. I get what it means, and we've appropriated a fix for this. Next time, please format your issues to be easier to read.

[2022-03-31 16:28] #664 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-31 16:31] i0bs commented on #587
We've found the issue for this and will be dealt with in the future. For people digging up this post, please make sure your bot token is valid. This error will only reproduce if your bot token is not proper. This will most commonly occur when:

- (if reading from a file) the file was read incorrectly by content or directory path
- (if putting in a token) the token has expired, been compromised or

[2022-03-31 16:31] #587 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-31 16:36] i0bs commented on #679
This Issue did not follow our contribution requirements. Next time, please be sure to follow them.

[2022-03-31 16:57] #666 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-31 16:57] #632 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-31 16:57] #626 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-31 16:57] #622 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-31 17:03] sillyElvy opened #691 "[REQUEST] Implement ``client.get()`` helper method"
### Describe the feature.

This helper method was meant to be created a while ago, but it seems to have been dropped, so I will implement it now.

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-03-31 17:27] i0bs opened #692 "[REQUEST] Better error handling."
### Describe the feature.

Our current error handling is...
yeah, we agree too. It sucks.

I don't think we need to get into just how bad it is, but it's certainly a big pain for bot developers to deal with currently when using our library. Getting an ambiguous `50035` error code is confusing, and gives no details to the client on what is *actually wrong.* The DX for our error responses are subpar

[2022-03-31 19:33] i0bs commented on #671
In accordance to #615 , we're including better examples in our documentation website rewrite. Additionally, I've begun working on adding some library-level examples as of commit [`5bbf0ab`](https://github.com/interactions-py/library/commit/5bbf0abd619f77b4af805824c5399128ea503f9d). I will be closing this Issue to reflect these.

[2022-03-31 19:33] #671 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-03-31 22:41] Nanrech opened #694 "[REQUEST] Implement a `message.url` property"
### Describe the feature.

This allows users to get the URL for a message directly

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-03-31 22:57] #694 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-05 01:55] v1r commented on #654
Same issue here, it looks like the change_presence is not exposed anywhere.

[2022-04-05 01:56] i0bs commented on #654
May you please specify which beta version you're on for 4.1.1?

[2022-04-05 15:21] JamesTesting888 opened #704 "[BUG] get_all_emojis has become get_all_emoji"
### Describe the bug.

In PyPI is get_all_emojis and it was get_all_emojis. Recently, the s in get_all_emojis is deleted.

### List the steps.

Just do:
for i in await some_guild_obj.get_all_emojis()

### What you expected.

Actually getting all emojis.

### What you saw.

No attribute

### What version of the library did you use?

unstable

### Version specification

4.1.1 (newest one)

### Code

[2022-04-05 15:24] i0bs commented on #684
Hey! We've fixed this on our unstable branch and will be closing this now. 😄

[2022-04-05 15:24] #684 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-05 15:25] i0bs commented on #678
This is planned in accordance to the Furo docs PR.

[2022-04-05 15:27] sillyElvy commented on #704
This is intended for the helper method being named the same as the http method.

[2022-04-05 15:27] #704 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-05 15:54] Catalyst4222 commented on #704
`get_all_emojis` has indeed been renamed to `get_all_emoji`, but it is still `get_all_emojis` in the pyi file, which was likely the source of confusion

[2022-04-05 15:59] sillyElvy commented on #704
Noted, a fix will be pushed soon

[2022-04-05 16:11] FayeDel commented on #654
Hiya!
I'm making a PR for this soon, I have a local implementation (currently) that fixes this ^^ :)

[2022-04-05 16:14] JamesTesting888 commented on #654
iirc, it is 4.1.1 b

[2022-04-05 18:54] sillyElvy opened #707 "[REQUEST] Implement uploading Images."
### Describe the feature.

This will resolve #499 and #489.

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-04-06 06:07] anirudhnara opened #711 "[BUG] Cannot unload cog if class name is equal to file name"
### Describe the bug.

When I tried to reload or remove a cog using a command, I got a RecursionError. So I looked in the code and I found this:
![image](https://user-images.githubusercontent.com/68088818/161906351-c55b4e81-aad7-498a-9ca9-e7e580c029b1.png)

### List the steps.

1. Do `bot.remove("cog_name")` or `bot.reload("cog_name")`.
2. Execute the code or the command.
3. See the error.

### Wh

[2022-04-06 15:08] Catalyst4222 commented on #711
This error happens if both the file name and the class name are the same. For now, you can just rename either the file or class until a fix gets pushed

[2022-04-06 15:49] Nanrech opened #712 "[BUG] Example.py has some errors in it"
### Describe the bug.

When trying to run the example bot (example.py in), you can see there's a couple things wrong with it:

1. `@client.event("message_create")` errors out and prevents the bot from working entirely
2. The example command, `hello-world`, claims that the last print() will not execute, however, it does

### List the steps.

Go to the examples folder and attempt to run the example.

[2022-04-07 16:34] #636 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-07 16:35] #511 closed, assigned to i0bs, sillyElvy

[2022-04-07 22:24] Nanrech opened #715 "[BUG] Color class missing from misc.pyi"
### Describe the bug.

The misc.py object contains the Color class, but the pyi file does not.

### List the steps.

Try to use interactions.Color in any file after import interactions on PyCharm

### What you expected.

Expected it to be selectable

### What you saw.

Instead, I couldn't and got "Cannot find reference 'Color' in '__init__.py'"

### What version of the library did you use?

unstab

[2022-04-08 16:21] sillyElvy opened #717 "[BUG] Inserting a string value as event name into ``@event`` is not possible"
### Describe the bug.

Previously it was possible to do so, now it will result in an attribute error

### List the steps.

-

### What you expected.

It to be working and registering the event properly

### What you saw.

Instead, I received this traceback error given from my Python terminal:
[code]

### What version of the library did you use?

unstable

### Version specification

_No response_

[2022-04-08 16:28] i0bs commented on #717
please tell me you're not actually having `SussyBaka` as an error in your issue

[2022-04-08 16:42] sillyElvy commented on #717
I do, I modified the whole language to exactly produce that error /s

No I just forgot to update it

[2022-04-08 18:27] #717 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-10 01:39] HeyItsJustFelix opened #721 "[BUG] Latest version on raspberry pi is 3.0.2"
### Describe the bug.

I am trying to run the discord bot on a raspberry pi and when I run pip install discord-py-interactions, it reports "Could not find a version that satisfies the requirement discord-py-interactions (from versions: ) No matching distribution found for discord-py-interactions."
![image](https://user-images.githubusercontent.com/82989883/162597398-3d9131dd-ed26-4f1f-a0c3-636e026

[2022-04-10 01:41] V3ntus commented on #721
Suggest joining the Discord for prompt responses. ~~What Python version are you on?~~

Oh I see, Python 3.7.

[2022-04-10 01:42] HeyItsJustFelix commented on #721
I didn't think of joining the discord, I appreciate it and will join shortly.

[2022-04-10 03:17] HeyItsJustFelix commented on #721
V3ntus helped me install python 3.10.4 and it now is installing properly!

[2022-04-10 03:17] #721 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-10 11:01] Nanrech opened #722 "[BUG] Sticker endpoints are wrong"
### Describe the bug.

"List guild stickers", "get guild stickers" and "create/delete/modify guild stickers" all should use `/guilds/guild.id/stickers`, but instead use `/guild/guild.id/stickers`, resulting in a 404 error. This was originally reported through discord by `VIP#1337`

### List the steps.

Import the library and try to use any of the sticker methods

### What you expected.

Expected t

[2022-04-10 15:55] ghost opened #724 "[BUG][REQUEST] Discord-py-interactions won't get installed on Termux"
### Describe the bug.

Discord-py-interactions can't be installed because orjson needs maturin, which needs rust, which needs rustup.

This probably occurs because rust cargo build isn't available for termux, since there's no "aarch64-linux-android" on rustup. only rust can be installed, not cargo.

Is there any way to install discord-py-interactions without orjson? with a replacement like ujson?

[2022-04-10 15:58] sillyElvy commented on #724
[code]

This should work fine

[2022-04-10 16:01] Kapideveloper commented on #724
i'm

[2022-04-10 16:01] ghost commented on #724
Thanks, i'm gonna try
(closed issue due to missclick xD. it's reopened now)

[2022-04-10 16:14] ghost commented on #724
Didn't work.
Used the code from documentation for test:
[code]
![Screenshot_20220410-131213_Termux](https://user-images.githubusercontent.com/88977720/162628907-88ac7acc-1b5b-4d9b-82c1-176b26852d0d.png)

[2022-04-10 16:17] sillyElvy commented on #724
Oh it did work, it got installed as you can see xd

Check your token/regenerate it, maybe that fixes it

Also you could join the [discord server](https://discord.gg/interactions) for help

[2022-04-10 16:17] i0bs commented on #724
make sure your `token` is being read correctly. This type error most often occurs when the token is invalid in some way, shape or form.

[2022-04-10 16:22] ghost commented on #724
Stills not working, even after regenerating token

[2022-04-10 16:23] i0bs commented on #724
What means are you using to put the token in? If you're using something like `dotenv`, you need to make sure that it's actually *reading* the file. Otherwise, if you're putting the token in raw, please consult for more about this in our support server please

[2022-04-10 16:33] ghost commented on #724
I was putting the token in raw.
i'm gonna make a thread in help channel

[2022-04-10 17:02] ghost commented on #724
**Thanks to @EdVraz and @goverfl0w for providing a solution for this issue**

if someone needs to install the library on termux, try the following command to ignore orjson and successfully install the lib.

[code]

[2022-04-10 17:02] #724 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-11 15:40] #715 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-11 15:40] #722 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-11 20:12] sillyElvy commented on #649
Closing since lack of updates

[2022-04-11 20:12] #649 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-11 20:13] #598 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-12 07:42] #665 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-12 07:43] #662 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-12 17:35] muckee opened #727 "[BUG] Can't use default emojis in SelectOption"
### Describe the bug.

Not sure if this is a bug or a feature request.

Currently I retrieve random emojis from emojipedia and pass them as arguments to the 'emoji' parameter when I create a new SelectOption, though I have tried hardcoding a single emoji to test and I get the same issue.

I know that I'm supposed to pass an Emoji object with a _json attribute to the 'emoji' parameter, but if I'm u

[2022-04-12 17:38] sillyElvy commented on #727
Try using `SelectOption(...,, emoji=interactions.Emoji(name="your_emoji_here")`.

Also, you might want to check out our [discord support server](https://discord.gg/interactions)

[2022-04-12 17:41] i0bs commented on #727
It'd *probably* help if you gave us a code example of what you were trying to originally do with `Emoji()`. The correct functionality for partial emoji objects in a select menu option is this

[code]

Note that when inputting an emoji for a select menu option, `id` must be `None` and `animated` as `False` if it's a unicode. Otherwise, you populate these fields appropriately.

[2022-04-12 18:53] muckee commented on #727
Thanks I just hadn't realised how to create a partial Emoji!

[2022-04-12 18:53] #727 closed, assigned to FayeDel, sillyElvy

[2022-04-13 04:06] r-warfield commented on #681
ideas changed + waiting on cache rewrite :(

[2022-04-13 15:22] Aluminoti opened #729 "[BUG] Autocomplete error with 2 required options"
### Describe the bug.

When trying to create a slash command with two options
[code]

upon getting to the option that is required and also has the autocomplete logic (regardless of order) the bot will throw an error (seen in what you saw section).

In this specific example, if I set the required flag = False for the "players" option, no error occurs and the command can function as I expect.

### L

[2022-04-13 17:03] Aluminoti commented on #729
Something else to note is that, if I do the "working" version of not requiring additional options, going back to edit the autocomplete option will cause the same error.

[2022-04-15 10:32] #712 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-15 19:29] AstreaTSS opened #730 "[BUG] .pyi files are not included when building"
### Describe the bug.

Pretty much what it says.

`.pyi` files have been a *pain* for many users, and this may be the reason why. There's nothing in `setup.py` to include them - they *only* include `.py` files as of right now.

### List the steps.

1. Clone the project and open a terminal in the project folder.
2. Use `python setup.py sdist bdist_wheel` (or `python3` on Linux).
3. Check the `.tar.

[2022-04-15 19:31] sillyElvy commented on #730
I thought we fixed it

[2022-04-15 19:31] sillyElvy commented on #730
This is known for atleast 2 months

[2022-04-15 19:32] AstreaTSS commented on #730
Nope. `unstable` produces the same results.

[2022-04-15 20:02] #730 closed, assigned to nobody

[2022-04-15 21:49] #660 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-16 00:07] #489 closed, assigned to i0bs

[2022-04-16 00:07] #707 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-16 00:08] #499 closed, assigned to FayeDel, i0bs

[2022-04-16 15:41] AstreaTSS opened #732 "[REQUEST] Add py.typed marker file"
### Describe the feature.

According to [PEP 561](https://peps.python.org/pep-0561/), Python packages intended to have type hinting must have a `py.typed` file in their package - either at the top level or in a sub-package where there are type hints.

This PEP was made a while ago, and many type checkers these days, on default settings, do not care about this PEP or the file being there. However,

[2022-04-17 05:36] B1ue-Dev commented on #678
Still waiting...

[2022-04-17 05:45] i0bs commented on #678
It's coming in the new docs, don't fret. 😅

[2022-04-17 05:55] #732 closed, assigned to FayeDel, sillyElvy

[2022-04-17 06:37] AstreaTSS opened #734 "[BUG] Incorrect typehintings for HTTPClient"
### Describe the bug.

The `.pyi` for the `client` in `interactions/api/http` has incorrect typehintings for `HTTPClient`, and most of the HTTP methods will not be typehinted because of it.

This is likely due to the fact that in the `.pyi` file, the `HTTPClient` *does not* inherit from the request classes, unlike in the regular file. This means Python has no clue that `HTTPClient` even has those

[2022-04-17 06:57] i0bs commented on #734
![image](https://user-images.githubusercontent.com/41456914/163704209-81a48865-8b85-46b6-a3ab-3dae2f04d9d9.png)

Judging off of the poll ran going over the type hinting debacle, I'm not sure if this issue should be considered with fixing `.pyi` files, or ditching them in favor of `typing.Protocol` as voted out by the community.

[2022-04-17 13:06] AstreaTSS commented on #734
For a minor issue that can be fixed pretty simply, I'd argue the former makes sense for now. The latter will require quite a bit of work and will need to be addressed separately, but just because that was voted for doesn't mean we immediately drop support for `.pyi` files.

[2022-04-18 06:32] Wizzerinus opened #735 "[BUG] unable to pass 0 as an integer argument to a command while having non-0 as the default"
### Describe the bug.

No idea if it's a discord issue or a library issue, but

I have a command with an integer argument that has a default value of -1, and can accept any non-negative integer. -1 is different from 0, because 0 means "0 days" and -1 means "use the number from the config file".

So, I did this:
[code]

And passing 0 to the command does not work:

![image](https://user-images.githu

[2022-04-18 06:35] sillyElvy commented on #735
Duplicate of #570

[2022-04-18 06:36] #735 closed, assigned to FayeDel, sillyElvy

[2022-04-18 12:35] #734 closed, assigned to FayeDel, sillyElvy

[2022-04-18 16:07] ghost opened #738 "[BUG] KeyError, Bot cannot start"
### Describe the bug.

interactions.py prints a KeyError just by starting it

### List the steps.

I tested it in multiple environments, but I can't launch only this bot (other bots work fine).
This issue is seen on 4.1.1 Beta 2 and 4.1.1 RC1 and not on 4.1.0 and 4.1.1 Beta 1

Console Log↓
[code]

### What you expected.

I hope Bot starts.

### What you saw.

Instead, I received this traceback err

[2022-04-18 16:31] mAxYoLo01 commented on #738
Is `889041902773604362` the bot token you set? If yes, then this is a false one, you have mixed the client ID and the secret client. Try to put your bot's secret ID instead

[2022-04-18 20:30] ghost commented on #738
No, I don't think this error will be output even if you write the client ID here.
As I said it works on other bots, it's not mixed.
It works with "4.1.1 Beta1" and "4.1.0" in the first place. The code is correct.
The same code doesn't work if you change the version.

[2022-04-18 21:25] AstreaTSS commented on #738
This is an odd problem. I think it may be worth looking at the code in question [piece of code responsible](https://github.com/interactions-py/library/blob/1d3ec28aa5d8bd1b8cc6c52c15960e118b6a8cc8/interactions/api/models/guild.py#L321-L326):

[code]

Theoretically:
- Discord has a `GUILD_CREATE` event to get the guild data *after* the `READY` event. Before this "guild creation", I don't *think* `i

[2022-04-18 21:30] i0bs commented on #738
Extending on this list, `GUILD_CREATE` is an asynchronously independent event from the Gateway's `READY` state, meaning this can fire around the same time that the Gateway declares the WebSocket client "ready," during or after. Bricking the condition by ensuring any set size of `self_guilds` will instantly make this fail first, and then the rest of these points coming into play.

[2022-04-19 20:05] #738 closed, assigned to FayeDel, sillyElvy

[2022-04-19 20:06] ghost commented on #738
Thank you for your quick response.
My problem is completely solved.

[2022-04-20 03:51] dacid44 opened #741 "[BUG] Invalid form body error on Role.modify_position()"
### Describe the bug.

When using the `Role.modify_position()` function, I get a `interactions.api.error.HTTPException: Invalid Form Body Error code: 50035` back.

### List the steps.

1. Set up a bot.
2. (In a command,) try to modify the position of a role in a guild.
3. See the traceback with the 50035 error and later a NoneType error.

### What you expected.

The role's position in the guild sh

[2022-04-20 03:55] dacid44 commented on #741
Discord's API spec ([https://discord.com/developers/docs/resources/guild#modify-guild-role-positions](https://discord.com/developers/docs/resources/guild#modify-guild-role-positions)) says that the JSON should be an array of objects (objects which look like what `api.http.guild._GuildRequest.modify_guild_role_position()` gives it right now. All that probably needs to be changed is wrapping the JSO

[2022-04-20 22:56] dacid44 opened #744 "[BUG] Commands aren't being properly registered"
### Describe the bug.

Test code:
[code]

When running this bot, it registers the command, but the command function is never called. Attempts to run the command fail. A debug message (`INTERACTION_CREATE`) is printed, along with two info lines about missing attributes `avatar_decoration` and `guild_id`.

### List the steps.

1. Run the test code above. (fill in a token and guild id)
2. Try to run

[2022-04-21 02:47] #744 closed, assigned to FayeDel, sillyElvy

[2022-04-21 02:57] #741 closed, assigned to FayeDel, sillyElvy

[2022-04-21 19:24] sillyElvy opened #746 "[REQUEST] implement name property for member object"
### Describe the feature.

This makes the getting of the name of a member easier

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-04-22 00:49] Toricane opened #749 "[REQUEST] Add `get_role` and `get_emoji` HTTP methods"
### Describe the feature.

All of the other models have a `get_x()` HTTP method implemented, so for consistency, this should be implemented.
These methods would also be useful for a future `get()` dynamic helper method because of the improved consistency.
Also [this](https://github.com/interactions-py/library/pull/702#discussion_r842243753).

### Code of Conduct

- [X] I agree to follow the contri

[2022-04-22 03:46] lilyyy411 opened #751 "[REQUEST] Refactor some parts of the interactions.api.gateway package for readability"
### Describe the feature.

## Reasoning
Some of the attributes and methods for the `WebSocketClient` class have kind of misleading names and documentation. Specifically, `WebSocketClient.__receive_packet_stream`, despite its name is not actually a packet stream; it is just a packet.

Also, the `_Heartbeat`'s `event` field is unexpectedly only used for setting and clearing and checking whether the

[2022-04-22 04:11] #749 closed, assigned to FayeDel, Toricane, sillyElvy

[2022-04-23 14:18] #570 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-23 17:45] V3ntus opened #755 "[BUG] `ctx.populate` for autocomplete does not send proper empty data"
### Describe the bug.

When responding with `ctx.populate(choices=[])`, instead of getting `No options match your search`, Discord considers the interaction as failed and responds with `Loading options failed`

### List the steps.

n/a

### What you expected.

n/a

### What you saw.

n/a

### What version of the library did you use?

stable

### Version specification

_No response_

### Code of Co

[2022-04-23 17:53] #755 closed, assigned to FayeDel, sillyElvy

[2022-04-26 20:36] #751 closed, assigned to FayeDel, sillyElvy

[2022-04-26 21:40] #746 closed, assigned to FayeDel, sillyElvy

[2022-04-26 21:58] #648 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-04-28 01:20] FayeDel opened #764 "[REQUEST] Implement v2 permissions"
### Describe the feature.

v2 permissions are just released to production as of a few hours ago. This issue was recreated so that this feature is noted to be implemented.

At the lib's current state, ever since the beginning of v4 development, permissions was held off in lieu of v2 permissions, so now all that's left is implementing them.

### Code of Conduct

- [X] I agree to follow the contribut

[2022-04-30 06:52] Wizzerinus opened #769 "[BUG] get_channel_messages does not sanity check the request data"
### Describe the bug.

so, apparently if you run get_channel_messages on a channel that does not exist, discord sends you a dictionary with
```{'message': 'Unknown Channel', 'code': 10003}```

which makes sense, but then the code tries to iterate over this dictionary and fails because 'message' has no attribute get.

### List the steps.

1. Run `bot._http.get_channel_messages(12345)` (basically an

[2022-04-30 13:55] Wizzerinus opened #770 "[BUG] exhausting per-route ratelimit breaks the bot"
### Describe the bug.

So I tried to register 7 or so slash commands in my guild, and I started getting "Invalid application command" errors. I run it with PYTHONASYNCIODEBUG=1 and the bot literally never launched. After some investigation, I see this:
[code]

so I look into the code and release_lock returns None, and should be passed as a function instead of as a return value 🙃
Seems to happen on

[2022-05-01 20:19] FayeDel commented on #654
Closing this as the associated PR fixes them.

[2022-05-01 20:19] #654 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-05-01 20:38] FayeDel commented on #770
Closing this as the associated PR has been merged,
thanks for pointing this out ^^

[2022-05-01 20:38] #770 closed, assigned to FayeDel, sillyElvy

[2022-05-01 21:24] FayeDel commented on #729
Closing this as the associated PR has been merged,
thanks for pointing this out ^^

[2022-05-01 21:24] #729 closed, assigned to FayeDel, sillyElvy

[2022-05-01 21:25] FayeDel commented on #769
Closing this as the associated PR has been merged,
thanks for pointing this out ^^

[2022-05-01 21:25] #769 closed, assigned to FayeDel, sillyElvy

[2022-05-07 00:01] Toricane commented on #667
Aren't you overwriting the first function because both of your functions have the same name (`math`)?

[2022-05-07 00:04] FayeDel commented on #764
Closing as the PR associated has been merged. ^^

[2022-05-07 00:04] #764 closed, assigned to FayeDel

[2022-05-07 00:04] FayeDel commented on #689
Closing as the PR associated has been merged. ^^

[2022-05-07 00:04] #689 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-05-07 00:06] FayeDel commented on #667
Closing as the PR associated has been merged. ^^

While the statement you said Toricane is true, I think it's an accident and purely unintentional (It's an example to be fair)

[2022-05-07 00:06] #667 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-05-07 02:59] V3ntus opened #778 "[BUG] `Could not prepare the client: 'str' object has no attribute 'get'`"
### Describe the bug.

On initial start, users have been reporting this error

They also have reported this did not happen in 4.1.1-rc.1

### List the steps.

1. Start the bot as usual, and possibly without changes

### What you expected.

Normal operation

### What you saw.

[code]

### What version of the library did you use?

stable

### Version specification

_No response_

### Code of Conduct

[2022-05-07 16:06] GravityWolfNotAmused commented on #778
I too face this same issue and have removed all of my code down to specifically the init of the client object, and calling start.
[code]

[2022-05-08 03:03] B1ue-Dev opened #779 "[BUG] Autocomplete does not work under subcommand"
### Describe the bug.

When trying to use ``@interactions.extension_aautocomplete()`` with an ``options`` under subcommand, it will not work. However, with normal command, it **does** work. Not sure why this can happen though.

### List the steps.

1. Create a subcommand with the following name ``/tag view``, with an option called ``tag_name``.
2. In autocomplete: ``@interactions.extension_autocom

[2022-05-08 19:31] i0bs commented on #778
Few pointers to see whether we can reproduce this behavior akin `4.1.1-rc.1` where little code changes were found:

- Can you confirm that `get_token()` produces a valid token? (You can also check this by seeing if `bot.me` returns `None` or an `Application` object.)
- What are the scopes of the bot upon invitation to the guild? Is it invited with the `applications.commands` scope?
- If you manual

[2022-05-09 11:32] B1ue-Dev opened #782 "[REQUEST] Adding ``url`` property for getting the ``Emoji``'s URL"
### Describe the feature.

Currently, there is no way to get the emoji's URL. It can be done by manually getting the emoji's ID, then create an url from there. The PR I am about to open will add an ``url`` property for doing this.

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-05-11 16:26] BurningNacho commented on #778
I am facing the same issue with the last version of the stable branch.
not doing anything fancy, just trying to start the bot (with and without the example command)
[code]

I haven't been able to use the package with a pip installation.

[2022-05-11 16:28] sillyElvy commented on #778
It should be resolved with the release of 4.2.1 (what will happen now-ish) and on the current unstable branch. If this issue still persists please open another issue

[2022-05-11 16:28] #778 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-05-11 16:30] AstreaTSS commented on #778
Right, I should note: this bug *seems* to be caused by a bot not having `application.command` scope in a guild. There isn't *too* much we can do other than error out, which the bot now does in `unstable` - this will be "fixed" by 4.2.1. ~~i wrote this part before ed came along shhh~~

To fix this, make sure your invite link has the `applications.command` scope in it.

[2022-05-11 16:36] B1ue-Dev commented on #779
I think this can be closed now.

[2022-05-11 16:36] #779 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-05-15 23:01] UnsignedArduino opened #789 "[BUG] Link in README to quickstart points to wrong page"
### Describe the bug.

The link in the README that goes to the quickstart points to https://discord-interactions.rtfd.io/en/latest/quickstart.html while I think it should be https://interactionspy.readthedocs.io/en/latest/quickstart.html

### List the steps.

Click on the link in the README under "Where do I start?" that goes to the quickstart. (https://github.com/interactions-py/library#where-do-

[2022-05-15 23:19] i0bs commented on #789
SSL certification from ReadTheDocs is something outside the core development team's control, unfortunately. The best recommendation I can give is for you to proceed by clicking the "Details" button and hitting the "visit this site" hyperlink.

If at any time this becomes an inconvenience, here are some additional aliases that are used:

https://interactionspy.rtfd.io/
https://discord-py-slash-comm

[2022-05-17 22:16] Nanrech opened #793 "[REQUEST] Implement clone channel method"
### Describe the feature.

It'd be very neat to have a way to automatically clone channels in a guild. I will create a PR that adds this feature as soon as this issue is public.

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-05-19 11:55] #782 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-05-23 04:28] i0bs commented on #692
Changes for this will now be directed to the branch `improved-error-handling`. A pull request will be made to signify when this is ready.

[2022-05-23 21:41] #793 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-05-24 07:29] sami0596 opened #800 "[BUG] Being rate-limited for reloading/loading/unloading a Cog"
### Describe the bug.

Almost whenever I reload, load, or unloading a cog, I'm being rate-limited for like 60 secs.
I assume you need to to put a small delay to avoid this

### List the steps.

bot.reload(f"{folder}.{extension}")

### What you expected.

To reload without issues

### What you saw.

Instead, I received this traceback error given from my Python terminal:
[code]

### What version of

[2022-05-24 07:30] Damego commented on #800
ig its from commands syncing

[2022-05-24 07:30] sillyElvy commented on #800
The unstable branch has an argument preventing the deletion of commands on cog removal

[2022-05-24 07:59] sami0596 commented on #800
What is that supposed to mean? That I wouldn't constantly keep being rate-limited for reloading a cog?

[2022-05-24 09:07] sillyElvy commented on #800
Yes, currently it removes all commands of the cog by default. On unstable you can specify `remove_commands=False` into `reload` or `remove` so it does not remove the commands

[2022-05-24 13:10] sami0596 commented on #800
But even with unloading / loading, when I haven't done something for a while and then decide to example unload, it would still be rate-limited

[2022-05-24 13:12] i0bs commented on #800
You've specified all ways to resolve the extension but it seems to only apply to reloading. This understandably makes sense because you're making a huge bulk call when internally syncing and the bulk overwrite endpoint is much harsher.

How frequent are you reloading the extension?

[2022-05-27 14:21] kojocrash opened #802 "[BUG] channel.get_history(limit=n) errors when n > 100"
### Describe the bug.

When fetching a text channel's history, it errors when limit > 100
`messages = await channel.get_history(limit=200)`

This is because in the source code for `interactions\api\models\channel.py`, the program attempts to get the last element from list `_messages` **before** anything was appended to it:
[code]

Moving `_before = int(_messages[-1].id)` below the for loop fixes t

[2022-05-27 14:22] sillyElvy commented on #802
If you want to make a PR don't move the line, it's supposed to be `_msgs`.

[2022-05-27 14:26] kojocrash commented on #802
Yes, that's a much better solution. Also I just found that it also errors when running in an empty channel

[2022-05-27 14:28] kojocrash commented on #802
oops, I did not mean to close the issue. forgive me it's my first time posting one lol

[2022-05-27 14:29] sillyElvy commented on #802
Don't worry

What exactly is the error?

[2022-05-27 15:08] Nanrech opened #803 "[REQUEST] Add http method to fetch invites"
### Describe the feature.

There is currently no way to get an invite by code. I will open a PR that addresses this.
[link to the documentation for this](https://discord.com/developers/docs/resources/invite#get-invite)

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-05-27 15:15] kojocrash commented on #802
[code]

More or less the same thing. Program attempts to get the last message in the list, but the list is empty

[2022-05-27 15:15] sillyElvy commented on #802
Alright, I'll make a fix for it

[2022-06-01 14:57] #803 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-01 14:58] #802 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-02 18:57] sillyElvy commented on #800
Since the unstable branch has a preventive argument now I'm closing this

[2022-06-02 18:57] #800 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-02 18:59] sillyElvy opened #816 "[BUG] Test issue"
### Describe the bug.

This is a test issue

### List the steps.

test

### What you expected.

test

### What you saw.

Instead, I received this traceback error given from my Python terminal:
[code]

### What version of the library did you use?

unstable

### Version specification

Test

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-06-02 18:59] #816 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-03 09:48] dude-guy-boy opened #819 "[BUG] Only one autocomplete option's choice list populated in command with multiple autocomplete options"
### Describe the bug.

When creating a command that has two autocomplete options, only one works.

### List the steps.

1. Create a slash command that contains two autocomplete options such as:
[code]

2. Create the two autocomplete populator functions such as:

[code]

3. Run the bot
4. Try to use the command and select from the autocomplete choices

### What you expected.

Both of the autocomple

[2022-06-03 10:20] dude-guy-boy opened #820 "[BUG] Option order not updated on bot restart"
### Describe the bug.

After changing the order of options in a command decorator, the command is not updated on bot restart.

### List the steps.

1. Create a command such as:

[code]

2. Run the bot
3. See that the command now exists
4. Change the order of options in the command such as:

[code]

5. Restart the bot
6. See that the command is still shown with the options in their original order,

[2022-06-07 20:27] pa-long opened #826 "[BUG] Putting a select menu inside a modal"
### Describe the bug.

When trying to add a select menu to a modal using the following code :

[code]
I have the following error when submitting the form :
[code]

By using `logging.basicConfig(level=logging.DEBUG)` i could figure that the data representing `modal_id` sent is  :
[code]
instead of :
[code]

A quick fix I applied to male it work locally was simply to edit : `File ".../venv3/lib/pyth

[2022-06-07 20:32] pa-long commented on #820
Yes i issues too with updating command groups and options, a quick fix for now that works for me :
1. Stop the bot
2. Change the name of the command, in your case : from `name = "test-command",` to `name = "test-command_2",`
3. Run the bot then stop it again when it's ready.
4. Change the name back to `name = "test-command",`
5. Run the bot again.

[2022-06-07 20:37] i0bs commented on #820
Our internal sync calls only check for if the identity of data has changed for fields existent when modifying, and not the relational placement

[2022-06-07 22:23] dude-guy-boy commented on #820
I think it should be added in future, because it can also sometimes cause the bot to not be able to run, if I remember correctly i think in the case of switching order of autocomplete options in a subcommand, I believe I mentioned it in #stable on discord before

[2022-06-08 00:55] i0bs commented on #820
Thank you for the suggestion. I'll pass the word up to our core development team and see where things will go next 👍

[2022-06-09 14:13] kz-n opened #834 "[BUG] your invite link doesnt work"
### Describe the bug.

[ ](https://discord.com/invite/interactions)

### List the steps.

.

### What you expected.

.

### What you saw.

.

### What version of the library did you use?

release

### Version specification

.

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-06-09 14:20] Damego commented on #834
What the point of this issue? Close this and open new normal filled issue.

[2022-06-09 14:21] Damego commented on #834
Invite link lol https://discord.gg/KkgMBVuEkx

[2022-06-09 14:35] kz-n commented on #834
![immagine](https://user-images.githubusercontent.com/64893077/172873132-debdf372-0579-431e-98a8-56ff21d21894.png)

[2022-06-09 15:02] FayeDel commented on #834
Hiya!

That invite link would normally work, except that we're granted that vanity because of discord boosts at the moment, and its not guaranteed (atm) that the boost URL will persist when boosts fluctuate.
With that said, I'm changing that link to a more persistent URL that Damego pointed above, and will close this issue ^^

[2022-06-09 15:02] #834 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-11 09:33] ghost commented on #826
wait, is something other than text input is supported in modal? didnt hear anything about it...

[2022-06-11 09:36] sillyElvy commented on #826
For clarification, usage of select menus in modals is in beta. It is not usable in general. A PR is ready and will be merged once discord releases this feature. For this reason I am closing this issue

[2022-06-11 09:36] #826 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-11 13:41] JoinChang opened #840 "[REQUEST] Add proxy param for interactions.Client"
### Describe the feature.

In some areas, we can't directly connect to Discord server, so we need proxy.

In discord.py, we use the code below to connect proxy server:
[code]
or
[code]

I think in interactions.py, we can use the code below to connect:
[code]

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-06-11 13:50] V3ntus commented on #840
I think this is a good idea. It could also assumably be added in an ext

[2022-06-13 08:26] #819 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-13 08:26] #789 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-13 15:31] sillyElvy commented on #692
This should be resolved by #848

[2022-06-13 15:31] #692 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-06-13 15:37] #627 closed, assigned to nobody

[2022-06-15 22:47] AstreaTSS commented on #711
Renamed to narrow the scope of this bug.

[2022-06-16 02:16] rlaphoenix opened #859 "[BUG] 24 is not a valid MessageType"
### Describe the bug.

When a message gets blocked by Discord Content Moderation Beta it will send Message Type 24 which isn't currently registered and therefore panics.

### List the steps.

1. Open Discord Server Settings
2. Enter ![Content Moderation](https://user-images.githubusercontent.com/17136956/173976566-951a2f8c-521f-404b-a3cd-8ef2ab51b70a.png) tab
3. Block some words
![image](https://u

[2022-06-16 02:24] rlaphoenix commented on #859
I thought I would also post a message JSON:

[code]

[2022-06-16 02:26] rlaphoenix commented on #859
I would also like to mention a very minimal change of just adding `CONTENT_MODERATION = 24` to MessageType with no other change at all seems to work fine. However, I'm not sure in what context Message object will be used so I cannot say it's a full-fledged fix. I have not read the code enough to say that.

[2022-06-16 02:26] V3ntus commented on #859
Is this implemented in unstable?

[2022-06-16 02:28] rlaphoenix commented on #859
It is not implemented as of latest stable nor latest unstable branches:

stable: https://github.com/interactions-py/library/blob/stable/interactions/api/models/message.py#L37=
unstable: https://github.com/interactions-py/library/blob/unstable/interactions/api/models/message.py#L71=

[2022-06-16 02:31] FayeDel commented on #859
Hiya!

Currently, the message type points to an undocumented feature in Discord's side of things, but there's already a PR (#768) made to interface with automod, including the messagetype. Moreover, there may also be an unstable PR on the side (talked about at #unstable in the support server) that may deal with conversion issues like this that can also deal with the issue in a different approach.

[2022-06-16 15:37] FayeDel commented on #859
Closing this issue as the AutoMod PR has been merged, docs are reflected and as per the issue, the MessageType is defined ^^

[2022-06-16 15:37] #859 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-19 16:23] Toricane opened #870 "[BUG] Sometimes missing channel id and message id in message when ctx.send/edit"
### Describe the bug.

When trying to send message, edit interaction, or edit message, message id and channel id is sometimes missing. Usually it's always missing when ctx.send, but sometimes it's missing when edit, reported by paginator ext users

### List the steps.

1. Make a command
2. Try to send and edit:
[code]

### What you expected.

Message should always have message and channel IDs
[cod

[2022-06-19 17:28] AstreaTSS commented on #870
Narrowed down the scope of this bug due to the fact that neither me nor Delta can reproduce it. It seems to only trigger 100% of the time on some devices and near 0% of the time on others.

This is very likely due to how `interactions.py` tries to get the message object when sending without deferring.

[2022-06-19 22:57] V3ntus commented on #840
Heyya! I've went and written an implementation. If you would like to test out this functionality, checkout #871 and lmk if you run into problems 👍🏾

[2022-06-23 11:29] B1ue-Dev commented on #678
(It's been 2 months since that last comment lol.)

[2022-06-23 21:45] Catalyst4222 commented on #711
Closing this issue as it appears to be resolved in the stable branch

[2022-06-23 21:45] #711 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-06-24 19:15] sillyElvy commented on #678
I'll take I try on it

[2022-06-25 03:59] dude-guy-boy opened #880 "[BUG] Bot fails to start when subcommand options are changed when an autocomplete option is present"
### Describe the bug.

When changing any field in an option in a subcommand, if any of the options in that subcommand are autocomplete options, the bot will fail to start.

### List the steps.

1. Create a subcommand with at least one autocomplete option like so:
[code]
2. Run the bot

3. Modify any field in any of the subcommand options like so (changing description in second option in this examp

[2022-06-26 11:22] Nanrech opened #884 "[REQUEST] Change `Color` class to use @classmethod instead of @property"
### Describe the feature.

Using the current implementation, if you want to access any hex within the Color class you need to instantiate it (interactions.Color().red). Switching to class methods would remove this step, making it slightly more convenient to use.

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-06-26 13:19] #884 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-06-29 01:39] Toricane opened #896 "[BUG] message and code are swapped in LibraryException"
### Describe the bug.

in `LibraryException` this is the `__init__`:
[code]
however, the library uses errors like:
[code]
which when tried in a terminal results in
[code]
so the `__init__` should instead be
[code]

### List the steps.

[code]

### What you expected.

[code]

### What you saw.

[code]

### What version of the library did you use?

unstable

### Version specification

_No response_

[2022-06-29 01:42] i0bs commented on #896
"intended feature 🤓"

jokes aside this is a breaking bug when an interaction exception occurs anywhere as our running process only throws it and keeps the loop ongoing

[2022-06-30 14:54] #534 closed, assigned to i0bs

[2022-06-30 19:16] #896 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-01 12:55] Wizzerinus opened #901 "[BUG] Change Presence pyi signature is synchronous"
### Describe the bug.

My IDE says change_presence cannot be awaited. I look at the code and see [this](https://github.com/interactions-py/library/blob/unstable/interactions/client/bot.pyi#L60)
Of course its [asynchronous within the code](https://github.com/interactions-py/library/blob/unstable/interactions/client/bot.py#L639)

### List the steps.

1. run `await change_presence` on your bot

### W

[2022-07-05 15:08] B1ue-Dev commented on #678
Looking good now.

[2022-07-05 15:08] #678 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-07-05 16:24] Donbur4156 opened #904 "[BUG] Log Error for event logging (UnicodeEncodeError)"
### Describe the bug.

When starting the Bot in logging.DEBUG mode, some (especially GUILDE_CREATE) Events raise a Log Error.
`UnicodeEncodeError: 'charmap' codec can't encode character`

### List the steps.

1. start the bot
2. logging error in terminal

### What you expected.

The Event should be logged in the logging file.

### What you saw.

Instead, I received this traceback error given from

[2022-07-05 16:27] Donbur4156 commented on #904
The following fix is working for me:

interactions>api>gateway>client.py line 256
WebsocketClient --> _handle_connection
log.debug(f"{event}: {str(data).encode('utf-8')}")

[2022-07-09 15:53] B1ue-Dev opened #906 "[BUG] Wrong description with ``set_rate_limit_per_user``"
### Describe the bug.

It seems like the description for the function ``set_rate_limit_per_user`` in ``interactions.api.models.channel`` is the wrong one, as it is identical with ``set_position``.

### List the steps.

1. Open the source file.

### What you expected.

Something that describes exactly the use of the function.

### What you saw.

[code]

### What version of the library did you use?

[2022-07-09 16:12] #906 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-11 01:54] #901 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-11 01:54] #880 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-11 01:55] #840 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-11 01:55] #820 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-11 01:56] i0bs commented on #681
Cache rewrite is pending approval, see #909 .

[2022-07-11 01:57] i0bs commented on #482
Proposal may be amended to #909 , please make a comment referencing there.

[2022-07-11 01:57] i0bs commented on #497
CI/CD workflow and pre-commit config were changed not too long ago. Closing.

[2022-07-11 01:57] #497 closed, assigned to i0bs

[2022-07-11 01:58] i0bs commented on #580
Closing as associated PR's branch was deleted by author.

[2022-07-11 01:58] #580 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-07-11 01:59] i0bs commented on #617
See #909 for information. Closing as this affects the prior functionality.

[2022-07-11 01:59] #617 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-07-11 20:33] Quarlie opened #914 "[BUG] OptionType.MENTIONABLE tries mapping NoneType resulting in crashing the bot"
### Describe the bug.

Trying to use the OptionType.MENTIONABLE type for an Option for a slash commands results in a crash and the bot shutting down

At lib\site-packages\interactions\api\gateway\client.py, line 567, it tries mapping both the Role and User for OptionType.MENTIONABLE, even though only one of them gets mentioned. Because only one is always mentioned, one of the two will always be a

[2022-07-12 13:26] sillyElvy commented on #914
This issue should've been fixed now

[2022-07-12 13:27] #914 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-14 16:50] Catalyst4222 commented on #691
Finished as of #801

[2022-07-14 16:50] #691 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-07-14 19:56] #870 closed, assigned to nobody

[2022-07-15 22:58] Toricane commented on #904
Closing since the PR linked above resolved this issue.

[2022-07-15 22:58] #904 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-16 19:40] sillyElvy opened #933 "[BUG] `PRESENCE_UPDATE` cannot be dispatched"
### Describe the bug.

On normal use, a message notifying that an error occurred during dispatching `PRESENCE_UPDATE` shows up. Upon further investigation (aka raising instead of logging) this error shows up:

### List the steps.

n/A

### What you expected.

n/A

### What you saw.

[code]

### What version of the library did you use?

unstable

### Version specification

The unstable unstable ver

[2022-07-16 20:19] #933 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-07-17 15:21] Wizzerinus opened #939 "[BUG] discrepancies in role list typing"
### Describe the bug.

Typing says the list of roles (member.roles) is a list of integers. String comment says it's a list of Role objects. Closer inspection shows it's a list of snowflakes in string form.

[code]
produces this output:
[code]
part of the code:
[code]

### List the steps.

1. get a role snowflake in int form
2. check whether `role in member.roles`
3. always get false

### What you

[2022-07-17 15:45] #939 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-17 20:15] FayeDel commented on #615
This is closed because #938 is merged.

[2022-07-17 20:15] #615 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-07-24 14:27] Nick-the-Descended opened #966 "[BUG] no VoiceState in interactions"
### Describe the bug.

I was trying to write a bot with interactions for the first time, installed it with `pip install discord-py-interactions` switching from discord.py and met with some errors. module interactions has no attribute VoiceState is being output to the console every time a voice channel has any change, eg: someone joins/leaves, mutes/unmutes...

### List the steps.

import interacti

[2022-07-24 14:29] sillyElvy commented on #966
Hi! This is not a bug since the library natively doesn't support voice. For voice you should have a look at this: httos://github.com/interactions-py/voice

[2022-07-24 14:43] #966 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-24 22:10] Wizzerinus opened #972 "[BUG] can't create a invite using channel.create_invite"
### Describe the bug.

I am using `get` to grab the channel and then using `create_invite` to make a new invite into that channel. Instead of an invite, I get an error.

[code]
This is not a channel ID error, as otherwise I would get a "discord error with severity 40".

### List the steps.

1. Import the module in python
2. Use `get` to get a channel
3. Try to create an invite
4. Observe the error

[2022-07-25 05:12] Damego commented on #972
Fixed in #973

[2022-07-27 04:30] #972 closed, assigned to AstreaTSS, FayeDel, Toricane, sillyElvy

[2022-07-27 04:32] AstreaTSS commented on #482
I'd say while #909 mostly fixes it, it may still be useful having something like this for messages, as they can grow more or less unbounded in most servers since many messages are never deleted.

[2022-07-27 17:55] tylercrumpton opened #979 "[BUG] Simple bot gets stuck after a day or two"
### Describe the bug.

Hiya! I've built a pretty simple bot using `interactions.py`, and it works extremely well for my use case, but I'm having trouble getting the bot to stay online.

I've turned on some logging and it seems to get stuck after messages like this:
[code]

I don't get messages after that, and restarting the bot seems to fix it for a day or two and then it is back to that.

My bot

[2022-07-27 17:57] tylercrumpton commented on #979
Tried using `git+https://github.com/interactions-py/library.git@unstable` yesterday at the suggestion of Toricane in the Discord help channel, but it got stuck again today.

[2022-07-27 18:15] i0bs commented on #979
I'll speak on this as I've developed a huge majority of the Gateway client that we use here in interactions.py.

As can be [read in this article](https://dat.place/api-gateway/), the Gateway requires heartbeats like typical WebSocket servers to validate a client's connection as "ongoing." Sometimes, the Gateway terminates an non-1000 closing code where the `HEARTBEAT_ACK` event is not recognised.

[2022-07-27 18:26] i0bs commented on #979
https://github.com/interactions-py/library/blob/e636d4e7d24d60604c371c5d92a054df269c1c13/interactions/api/gateway/client.py#L150-L153

This can be seen here where we decide to log it before the action, as recommended in Python logging nature.

https://github.com/interactions-py/library/blob/e636d4e7d24d60604c371c5d92a054df269c1c13/interactions/api/gateway/client.py#L155-L161

Our restarting method

[2022-07-27 18:29] tylercrumpton commented on #979
Thanks for detailed info! I wonder if it's getting stuck in that `while not self._closed:` loop then? My bot never reconnects, unless I restart the application. I can try to attach a debugger to see if that's where it's stuck, but I might have to restart the Docker container to do that (it's currently in the stuck state, in case there is some information I can get from it).

[2022-07-27 18:37] i0bs commented on #979
interactions.py doesn't properly close the yielded WS connection when it ends, which is supposed to be done to initiate an exiting call to its context manager. Since we're hard wiping it out to be `None`, we're essentially not telling aiohttp to cache the fact that it's gone, so nothing is changing. We've rewritten a value on our end without informing the module in control, which proves to be prob

[2022-07-27 22:11] Sneakynarnar opened #980 "[BUG] Issue editing a message with an attachment"
### Describe the bug.

When I was trying to edit a message with an attachment, you get this error:
`Traceback (most recent call last):
  File "C:\Users\pc\PycharmProjects\pythonProject\venv\lib\site-packages\interactions\api\http\request.py", line 149, in request
    async with self._session.request(
  File "C:\Users\pc\PycharmProjects\pythonProject\venv\lib\site-packages\aiohttp\client.py", line

[2022-07-31 11:46] #980 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-07-31 14:19] dude-guy-boy opened #989 "[BUG] Error when modifying options in a subcommand"
### Describe the bug.

When adding/modifying an option to an existing subcommand, I received an `Invalid Form Body` error that caused the bot to not start. A different subcommand under the same command contains autocomplete options, which may or may not be related to this issue (I believe this is the same bug as in issue #880, although it gives a different error message).

### List the steps.

Sam

[2022-08-02 21:23] CaedenPH opened #996 "[REQUEST&BUG] Missing Acess"
### Describe the feature.

[code]
This is spammed in console a couple hundred times, with the guild id's. How is this silenced?

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-08-02 21:27] sillyElvy commented on #996
Hi! I can understand your issue. Since it is `log.warning`, using

[code]
should fix your issue

[2022-08-02 21:45] CaedenPH commented on #996
This is a bit annoying, could there be an option in the client instance to silence these warnings?

[2022-08-05 01:36] Catalyst4222 commented on #681
The cache rewrite has been finished, and with it a new way of handling the data sent in events. Is this issue still applicable?

[2022-08-05 03:41] holdur-ground commented on #482
Ideally for me, you would be able to configure the cache size (with a reasonable default) and use the last accessed time as above or a combination of number of times accessed and last accessed time to determine what to purge when the cache limit is hit.

So when adding an item to the cache,

1. If cache is full, then find least used item and remove
2. Add new item to cache

This way you don't need

[2022-08-05 22:25] r-warfield commented on #681
No
I don't think so.

[2022-08-05 22:25] #681 closed, assigned to FayeDel, i0bs, sillyElvy

[2022-08-10 14:41] SamNuttall commented on #448
Fixed, see #755

[2022-08-18 05:34] JoinChang opened #1021 "[BUG] Autodefer not always working"
### Describe the bug.

This happens when the command is not responded to for three seconds.
![image](https://user-images.githubusercontent.com/35451392/185300899-864ac062-6422-4b5b-9acd-33a791e948a6.png)

Example: https://autocode.com/autocode/threads/how-to-avoid-timeout-errors-when-responding-to-discord-interactions-tutorial-9f4b312c/

### List the steps.

1. Create a slash command and listen to

[2022-08-18 05:43] AstreaTSS commented on #1021
Hey! This is a common issue with blocking code, which seems to fit in with what you just described.

Blocking code, like really long synchronous tasks (IE the one you described) tends to halt the async "event loop", the logic controlling async as a whole. As interactions.py is async, this means you are effectively halting it from being able to do anything.

For more information, you can [look at t

[2022-08-18 05:43] Damego commented on #1021
To increase time limit up to 15 minutes you should defer your interaction via `ctx.defer`

[2022-08-18 05:50] JoinChang commented on #1021
Thank you!

[2022-08-18 08:02] JoinChang commented on #1021
![image](https://user-images.githubusercontent.com/35451392/185342598-2d62a027-17c7-4867-a7bd-61adc37561d2.png)

It still randomly returns this error:
[code]

[2022-08-18 13:14] AstreaTSS commented on #1021
Again, the issue is likely because your code is blocking - `ctx.defer` can't help out with that.

For further help, please join the interactions.py Discord server and use the help channel.

[2022-08-18 14:21] AstreaTSS commented on #1021
Reopening. Seems like this is an issue with autodefer not working as expected, though, as it seems to fail to defer at times.

[2022-08-21 20:38] sillyElvy commented on #996
It could be done, although it is very low priority and it would be made faster if you'd make a PR yourself tbh

[2022-08-21 20:39] #979 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-08-21 20:40] sillyElvy commented on #487
Marking this as resolved since mostly implemented and lack of activity

[2022-08-21 20:40] #487 closed, assigned to i0bs

[2022-08-22 03:23] ashnbrew opened #1032 "[BUG]"
### Describe the bug.

InvalidArgument was removed (very recently) in discord.py v2.0
![image](https://user-images.githubusercontent.com/63022201/185832135-3e00bf8d-41e9-4e58-a7f9-29a97b70f877.png)

### List the steps.

1. I updated the version of discord.py

### What you expected.

For there to be no issues.

### What you saw.

![image](https://user-images.githubusercontent.com/63022201/185832345

[2022-08-22 03:24] AstreaTSS commented on #1032
`interactions.py` v3 and below are no longer supported. Furthermore, those versions only worked with `discord.py` v1.7.X.

[2022-08-22 03:25] #1032 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-08-22 15:29] Nanrech opened #1034 "[BUG] Member.get_avatar_url returns wrong URL when a member doesn't have a guild avatar."
### Describe the bug.

When using `Member.get_avatar_url`, the method returns a URL that's built as follows:
[code]
The URL that's returned is, if the member object has a server-specific profile picture, correct. However, when it doesn't, a malformed cdn URL is returned which points to nothing. This is caused by the `avatar` property returning the hash of a global profile picture.

I propose check

[2022-08-22 16:10] #1034 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-08-23 14:06] DeinAlptraum opened #1036 "[BUG] Outdated link(s) in docs: Quickstart"
### Describe the bug.

The link for the text "find these component types here" goes to https://interactionspy.readthedocs.io/en/stable/models.component.html which is a 404. "stable" should be replaced by "latest", then it works. There's also another similarly outdated link for the text "Client", though that one isn't even used as far as I can see.

### List the steps.

1. Go to https://interaction

[2022-08-23 14:12] Damego commented on #1036
It's fine. `latest` is for `unstable` branch

[2022-08-23 16:15] Toricane commented on #1036
No, they're saying the link has `stable` which doesn't exist

[2022-08-23 16:33] Damego commented on #1036
But will it be exist in new release?!

[2022-08-23 16:38] Damego commented on #1036
nvm im bit dumb xD

[2022-08-23 16:47] Damego commented on #1036
fixed in #1037

[2022-08-23 17:55] sillyElvy commented on #1036
Resolved as of #1038

[2022-08-23 17:55] #1036 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-08-23 18:04] sillyElvy commented on #996
Update:
------------

![grafik](https://user-images.githubusercontent.com/88881326/186231595-7da474b5-41d4-4357-9f38-03a344d88d50.png)

This means the issue should just go away on its own.

Source message: https://canary.discord.com/channels/789032594456576001/801461008865951784/1011376069695250494
if you are not in that server: https://discord.gg/discord-developers

[2022-08-23 18:04] #996 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-08-27 16:08] lionel-panhaleux opened #1041 "[BUG] Channel not set for thread and voice channel chat commands"
### Describe the bug.

The `channel` parameter is `MISSING` when the interaction comes from a thread or a voice channel chat.
This is misleading: we got the ID and initialising a Channel with just ID, type and client would be enough to send messages and do a number of things already.

### List the steps.

1. Create a slash command using `ctx.channel` to (for example) send a message (on top of the

[2022-08-27 16:10] sillyElvy commented on #1041
Hi!

This is intended behaviour! If you want to use `ctx.channel` make sure you run `await ctx.get_channel()` before it! (same applies for ctx.guild with its own method)

[2022-08-27 16:19] lionel-panhaleux opened #1042 "[BUG] Using ctx.edit with a Component does not update the original message"
### Describe the bug.

Using `ctx.edit()` with a Component does not update the original message, it sends a new message (`create_interaction_response`) instead.

### List the steps.

1. Create a slash command returning a message with a button component
2. Make the button component use `ctx.edit()` to update the original interaction message

### What you expected.

Update the original interaction m

[2022-08-27 16:19] sillyElvy commented on #1042
Please provide the code you used

[2022-08-27 16:19] #1041 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-08-31 09:53] DeinAlptraum opened #1048 "[BUG] Docs: Incorrect parameter description on Embed.remove_field()"
### Describe the bug.

In the docs, the description of the `index` parameter to the `Embed.remove_field()` method says it's the index of the new field. This doesn't make sense, since you pass the index of the field to be removed.

### List the steps.

1. Open https://interactionspy.readthedocs.io/en/latest/api.models.message.html#interactions.api.models.message.Embed.remove_field
2. see descriptio

[2022-08-31 21:34] LuantistDork opened #1052 "[BUG]"
### Describe the bug.

I was just programming my bot, adding a new command. (on repl.it)
but when I tried to run it, I got this gnarly error:
[code]
here's my `main.py`:
[code]
(apologies for the weird variable names)
here's the other python scripts I have
`keep_alive.py`:
[code]
`shortcuts.py`:
[code]

### List the steps.

I was simply programming my bot I don't know how I exactly encountered thi

[2022-08-31 21:36] sillyElvy commented on #1052
This is an issue with replit. Typing `kill 1` into the console usually fixed the issue

[2022-08-31 21:36] LuantistDork commented on #1052
I tried typing `kill 1` and it didn't seem to work

[2022-08-31 21:38] sillyElvy commented on #1052
There's nothing we can really do so I guess just try to run that command until it works?

[2022-08-31 21:38] LuantistDork commented on #1052
alright

[2022-08-31 21:38] LuantistDork commented on #1052
worked, thanks

[2022-08-31 21:38] #1052 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-09-01 04:59] Catalyst4222 opened #1054 "[REQUEST] Update function parameters"
### Describe the feature.

There are quite a few places where the function parameters don't quite line up with what it expects. This is mostly referencing `*args: Tuple[...]` and `**kwargs: Dict`, which when accessed inside of a function or when calling it, give the wrong typehints. In many docstrings, not only does the `*args`/`**kwargs` discrepancy show up, but on some IDEs (pycharm, possibly mo

[2022-09-02 21:52] sillyElvy commented on #1042
Hi!

Please provide the code you used. Otherwise this issue will be closed because it's not reproducable & probably a mistake on your end

[2022-09-03 11:10] Donbur4156 opened #1065 "[BUG] forcing http in get() not working"
### Describe the bug.

forcing http in get() function returns the cache if there is one.

### List the steps.

1. get member: `member: interactions.Member = await di.get(client=bot, obj=interactions.Member, parent_id=ctx.guild_id, object_id=ctx.author.id._snowflake, force="http")`
2. Add Role to Member via Discord
3. get member again
4. compare member.role before and after

### What you expected.

[2022-09-03 11:11] Donbur4156 commented on #1065
I found the Bug in how the lib handle the force from kwargs.
PR follows

[2022-09-05 08:33] #1048 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-09-05 08:33] #1065 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-09-07 03:40] AstreaTSS opened #1075 "[BUG] Error when syncing to guild without app.cmds scope with disable_sync"
### Describe the bug.

*Everything I describe is based off other people's reports and theoretical guesswork. This may be inaccurate.*

Many big bots are in a large number of guilds, and so it makes sense for them to turn off `disable_sync`. Besides for the obvious, this has another behavior, however.

Instead of erroring out if a guild has the bot without the `application.commands` scope (which is

[2022-09-07 03:47] AstreaTSS commented on #1075
As for what causes it, my theory is that we now detect and throw an error in our HTTP requests when we previously didn't.

Take a look at [these lines that get invoked with `disable_sync=True`.](https://github.com/interactions-py/library/blob/7819ffc0d525033d9a03cd6f177b6b5f2639b0e4/interactions/client/bot.py#L426-L439). You can clearly see that triggering the warning depends on the response being

[2022-09-07 03:52] AstreaTSS commented on #1075
Fun fact: #868 does the fix needed, but for syncing, not for here.

[2022-09-09 03:38] vincyxiroff opened #1078 "[REQUEST] check if someone has the role to run the Command"
### Describe the feature.

example: if Carlo has the hello role he can execute the command if he doesn't have the hello role he will not be able to execute the command

### Code of Conduct

- [X] I agree to follow the contribution requirements.

[2022-09-09 05:53] sillyElvy commented on #1078
This can be implemented like this:

[code]

Another possibility would be that you update the bot command permissions in the integration tab of your server or use an extension library.

But there (probably) won't be a decorator to check such things in the main library

[2022-09-09 05:53] #1078 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-09-09 06:38] #1075 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-09-10 17:48] sillyElvy commented on #1042
Closing due to lack of activity

[2022-09-10 17:48] #1042 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-10-02 16:13] Donbur4156 opened #1107 "[BUG] stacking extension_component() not working"
### Describe the bug.

When trying to stack extension_component decorators, only the first one is reacting.
Stacking of @bot.component(..) works with the same custom_ids as expected.

Don´t work whether in latest nor unstable

Code Main:
[code]

Code Ext:
[code]

### List the steps.

1. import interactions in external file and main
2. load ext
3. stack interactions.extension_component("")

### Wha

[2022-10-03 15:42] Dillonzer commented on #482
Due to no cache ttl my apps memory grows over the usage of a few days.

![image](https://user-images.githubusercontent.com/7096155/193619514-6ccd7a5d-ecac-4ea7-b606-f657018993e2.png)

Before switching to interactions.py my memory was stable. As soon as I switched (you can tell from the dotted line) the memory increased everyday and never was collected.

[2022-10-03 16:55] i0bs commented on #482
Are you able to share what the most frequently cached objects are? I'm guessing it's between guilds and interactions.

[2022-10-03 20:02] g-rar opened #1111 "[BUG] 'BaseResult' conditionally included in subcommand with empty BaseCommand"
### Describe the bug.

When a SubCommand has an empty base command (it just `pass`es), then depending on the number of options on the subcommand the BaseResult is included into the command coro parameters. This is with the "new system" using the `@command.subcommand` decorator. So here are some specific details of where I found this:

python version: `3.9.11`
interactions version: `4.3.1`

This do

[2022-10-03 21:52] Dillonzer commented on #482
I don't explicitly cache anything myself and I'm not sure how to see the full caching of interactions / guilds. My bots are in 1000+ servers so I'm assuming it's the interactions.

If you know how I can view it let me know and I'll share it.

[2022-10-03 22:42] Catalyst4222 commented on #482
You can get access to the cache by doing `client._http.cache`. You can do `cache[<type>]` to get to the Storage of that type, or `cache.storages` to get a dict of type->Storage.
Once you have the storage, you can do `len(storage.values)` to see how many items are cached of that type.

Code example:
[code]

[2022-10-03 22:55] Toricane commented on #1111
This is intentional because you are using *args and **kwargs, let me break it down for you:

The BaseResult object exists to allow passing the return value from the base command to the subcommands.

This object is only passed when it is able to be passed. To clarify, the BaseResult will be passed in this function:
[code]
But it will *not* be passed into this function:
[code]
The reason it is not p

[2022-10-04 04:13] g-rar commented on #1111
Thanks for the response, @Toricane,  I think I get the logic better now :D:D... but I'm left still wondering why the BaseResult didn't get passed when there were two options or no options, and it did get passed when there was only one. Since in all three cases there's room withing the `*args`. All the coros have the same signature unless they're tinkered with in the background. And from my pov it

[2022-10-04 04:29] Toricane commented on #1111
The problem with looking for the name or typehint is that it restricts developers, and not everyone speaks English or uses typehints in their code.

I will look into the signature checks and see how to improve consistency and optimize the checks, thanks!

[2022-10-04 04:50] g-rar commented on #1111
Not to downplay on accessibility but python and basically the entire ecosystem is kind of in English tho... I like the consideration tho, not many developers think about that outside of front-end development :D:D

typehints still could be used... if not to know were to put it, then as long as it knows were not to put it is good as far as my code concerns

but if it always gets passed down that'd b

[2022-10-04 17:59] Dillonzer commented on #482
It looks like `<class 'interactions.api.models.message.Message'>` is constantly growing and I'm assuming that's causing the memory issues.

starting:
[code]

30 mins later:
[code]

[2022-10-04 18:47] i0bs commented on #482
Between messages and channels, those seem to be cached the most aggressively. I suggest the developers look into implementing a `TTLMixin` for handling keepalive of cached items

I think cache limits should be imposed and harshly enforced with a TTL focused on per minute. This means X amount towards the length of a `max_size` can exist for only `ttl` minutes.

field | max_size | ttl p. min
-|-|-
`

[2022-10-04 18:50] i0bs commented on #482
@Dillonzer How many times are you working with roles? Are you doing anything with them, or is this purely from what's being cached? I'm astounded to see nearly 30,000 objects cached for them. That's insane!

[2022-10-04 19:35] Dillonzer commented on #482
@i0bs I don't do anything with roles. For context, all this bot does is takes input from the user and spits out embeds, w/ buttons to cycle through the different embeds created via the bot,  from my API based on the users query.  (ex, they put in a card name and it spits out information about those cards).

[2022-10-05 04:52] i0bs commented on #482
Interesting. The cache is not intelligent enough to determine what is used the least. After testing, the cache can contain "duped" objects of the same ID (using this as our basis) while values have changed.

Making that work would additionally prove to be a challenge as every object must perform a cache introspection to determine if it exists, and which fields to update. Rewriting the entire objec

[2022-10-05 04:54] i0bs commented on #482
For clarification, I'm also trying to use interactions.py for a company contract and I'm running into a plethora of caching problems. Most of them relate to "duped" objects, but the biggest problem by far has been the inability to control storage sizes per cacheable object. There's no way to performantly scale memory usage, I can't opt-out of things being cached without removing Gateway intents ei

[2022-10-20 10:39] FlorianPommerening opened #1129 "[BUG] User parameter if user has emoji in nickname"
### Describe the bug.

I'm using an option of type `OptionType.USER` and get a box to select the user among the users on the channel. However one user has a nickname that consists of only Emoji and does not show up in the list. Copy-Pasting the user's nick into the box also fails with the error `Not a valid user`.

### List the steps.

1. Set up a bot on a server with the following command
[code]

[2022-10-20 10:49] Damego commented on #1129
![image](https://user-images.githubusercontent.com/25762802/196928948-e4c1c2bd-33a7-41bb-998c-ae23a7e74637.png)

[2022-10-20 13:01] FlorianPommerening commented on #1129
Hmm, I see. I looked at my test server again and now I also saw the user but they were not in the list earlier (directly after changing the nickname). Is there another reason why a user would not show in the list? Caching maybe?

[2022-10-20 13:02] Damego commented on #1129
That's not bug in the library. Just discord *magic*

[2022-10-20 13:54] AstreaTSS commented on #1129
This is explicitly a Discord bug. Please report it to them if possible.

[2022-10-20 13:54] #1129 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-10-21 01:58] Catalyst4222 commented on #482
@i0bs can you elaborate on this? I don't see how this is possible, since multiple objects with the same type and id would just end with one either updating or overwriting the other

[2022-10-21 04:34] Barefoot-Dev opened #1131 "[BUG] Cannot process two interactions at once"
### Describe the bug.

If I trigger `/my_first_command` twice in a row, the second one fails immediately with the response 'The application did not respond', and then 10 seconds later the backed says "Uknown interaction".

Not actually sure if this is a bug or I'm just implementing incorrectly.

### List the steps.

1. Run this code
2. Trigger `/my_first_command` from the Discord UI twice in a row

[2022-10-21 04:37] Catalyst4222 commented on #1131
The reason why your code isn't working is because `time.sleep(10`` is a blocking function. In other words, it stops the rest of the bot from running *anything*. The proper way to delay a function would be to use `await asyncio.sleep(10)`, which lets the rest of the bot run as it should

[2022-10-21 04:56] Barefoot-Dev commented on #1131
Thanks for your reply @Catalyst4222
I'm using `sleep` as a minimal example, but in reality I actually have a lot of code to run, not just `sleep(10)`.
Is there a generic way to run any code in a non-blocking way?

I thought putting the blocking code inside `asyncio.create_task` would solve it...

[2022-10-21 05:07] Toricane commented on #1131
Please send your code so we can better understand what you are attempting to do.

Are you using `requests` or any other "blocking" code? Please use `aiohttp` or other asynchronous alternatives.

Does your command take longer than 3 seconds to respond? Try adding `await ctx.defer()` at the top of the command's code.

[2022-10-21 05:16] Barefoot-Dev commented on #1131
I am using requests, Tweepy API calls, redis calls and more. A bit much to send I think!

I am using defer, but it's the second interaction that get blocked so I can't respond even defer with it, because by the time the function runs a second time the interaction is "Unkown".

Anyway I think I've just solved it by using a thread for all the code (`threading.Thread`)! Thx for your help.

[2022-10-21 13:16] Toricane commented on #1131
Please don't use `requests`. Use `aiohttp` instead.

[2022-10-21 13:34] Barefoot-Dev commented on #1131
How come?

[2022-10-21 13:47] Toricane commented on #1131
`requests` is blocking so it will block other asynchronous code until it finishes, while `aiohttp` is built to be asynchronous. You don't need threading with `aiohttp` or with anything that is asynchronous because it is asynchronous and not blocking.

[2022-10-21 14:14] Barefoot-Dev commented on #1131
Okay, I can use aiohttp then, but I'm still inevitably going to have some blocking code, which means I can never handle multiple interactions at once?

[2022-10-21 14:15] sillyElvy commented on #1131
How come?

[2022-10-21 14:17] AstreaTSS commented on #1131
Guys, please.

Take this to the support server. Issues aren't a place for help, and this isn't a bug.

[2022-10-21 14:17] #1131 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-10-21 14:19] sillyElvy commented on #1131
https://discord.gg/interactions

[2022-10-24 01:03] Catalyst4222 opened #1133 "[BUG] Context is missing `command` attribute in the `on_component` event"
### Describe the bug.

Taken from [`#AttributeError 'NoneType' object has no attribute 'name'`](https://canary.discord.com/channels/789032594456576001/1033886778165305424/1033886778165305424) in the help forum

In the `on_command` event, there is a possibility that `ctx.command` is None instead of the associated Command instance. This is due to a race condition where some attribute processing for

[2022-10-29 23:03] jamesrom opened #1138 "[BUG] ValueError when editing message files during ratelimit"
### Describe the bug.

When the client has exhausted the rate limit for editing a message, attempting to attach a file (e.g., `ctx.message.edit(files=[...])`) does not work.

Firstly, a ValueError is logged: `ValueError: I/O operation on closed file`

Secondly, the `ctx.message.attachments` array is incorrectly populated with an attachment that was never sent.

In summary:
- the error is ignored
-

[2022-10-31 04:57] Catalyst4222 opened #1139 "[BUG] Guild.get_audit_logs fails when passed a User or Snowflake to the user id"
### Describe the bug.

`Guild.get_audit_logs` accepts a User, Snowflake, int, or None in the `user_id` parameter. However, it fails to convert the first two into ints, which results in an error. This likely also applies to other audit log functions, as a quick glance shows that no conversion to ints happen.

### List the steps.

(Image taken from a help thread)
![image](https://user-images.githubu

[2022-10-31 05:07] Catalyst4222 opened #1140 "[REQUEST] Remove or improve `__repr__` and `__str__` on models"
### Describe the feature.

Both of the `__repr__` and `__str__` magic methods can be very useful when used correctly. However, there are several places where their inclusion causes confusion. For example, the initial issue in [this help thread](https://canary.discord.com/channels/789032594456576001/1036495364737474612/1036495364737474612) was caused by the repr of the guild object just being the n

[2022-11-03 13:21] #1139 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-11-05 07:37] Damego commented on #1140
I suggested to use `str` property for `Emoji` but EdVraz declined
https://github.com/interactions-py/library/pull/988

[2022-11-05 07:46] sillyElvy commented on #1140
Wait why does it even just print the name?

[2022-11-05 08:46] sillyElvy commented on #1140
Oh we probably override the repr right.

@Damego __str__ for emoji is not certainly bad as it shows valid information, opposed to __repr__ of the guild class which doesn't and just overwrites already present repr

[2022-11-05 08:48] Damego commented on #1140
Fine

[2022-11-05 15:55] Damego commented on #989
Heya. Does this bug still exists on the latest verson? After completing these steps I didn't get any errors

[2022-11-05 15:59] Damego commented on #1021
Heya. I think #1012 resolves this issue. Can you try to reproduce your bug on the latest version?

[2022-11-05 16:06] #1111 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-11-05 16:42] JoinChang commented on #1021
Thanks, it works properly!

But it still randomly raise this error when processing time-consuming command, but `@autodefer` itself works properly.
![image](https://user-images.githubusercontent.com/35451392/200131322-3f383415-27de-48c0-909b-2f63292dcbb9.png)
![image](https://user-images.githubusercontent.com/35451392/200131555-7389f000-a9c0-480e-9f29-2065d59b45da.png)

[2022-11-05 16:43] sillyElvy commented on #1021
Try setting the time after autodefer fires to smth lower, sometimes it is a bit slow

[2022-11-05 16:52] JoinChang commented on #1021
I tried lower delay params, and I'm didn't processing time-consuming command, but it still raised Unknown Interactions exception:
![image](https://user-images.githubusercontent.com/35451392/200131801-cd274155-143a-40af-858e-fe7e8a7f157a.png)
![image](https://user-images.githubusercontent.com/35451392/200131819-94c0986e-2f9b-465c-bfe4-a44cd7be353e.png)

[2022-11-05 16:53] sillyElvy commented on #1021
That's weird, @Toricane didn't you want to rewrite it?

[2022-11-06 02:36] #1140 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-11-07 11:12] JamesTesting888 opened #1152 "[BUG] User Model Missing premium_type"
### Describe the bug.

When I print `user._json`, `premium_type` is not in there. However, in the docs, the user model should contain this value. This might be a Discord issue as it used to work. Might be an issue where Nitro classic has changed to Nitro basic.

### List the steps.

1. Create any slash command
2. Get user model `user = ctx.author.user`
3. Print `user.premium_type` or check `user._

[2022-11-07 11:22] mAxYoLo01 commented on #1152
I remember talking about it on the Support server, and in fact the `premium_type` is not dispatched by the Discord API. Idk since when though.
Nothing on our end disallows the state to be passed, it just looks like Discord removed it.

[2022-11-09 14:42] Damego commented on #1152
That's not library bug. Discord doesn't provides `premium_type` field. I suggest to ask about it in the ddevs server.

[2022-11-09 14:42] #1152 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-11-10 17:39] sillyElvy opened #1162 "[BUG] Cannot pop from Cache during dispatch."
### Describe the bug.

When running functions leading to delete events, for example `channel.purge` the cache encounters a KeyError and kills the whole Process.

This is caused by the implementation of #482

### List the steps.

n/A

### What you expected.

n/A

### What you saw.
[code]

### What version of the library did you use?

unstable

### Version specification

The unstable unstable versio

[2022-11-10 17:52] sillyElvy commented on #482
Closing this as the base issue has been resolved.

[2022-11-10 17:52] #482 closed, assigned to i0bs, Catalyst4222

[2022-11-10 18:12] i0bs commented on #1162
This would explain *way too much.* Glad the problem's been identified.

[2022-11-11 22:38] #989 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-11-15 04:55] Catalyst4222 commented on #1162
@EdVraz Can you give some steps to consistently reproduce the bug? I'm trying to fix it, but using `channel.purge` doesn't trigger it for me

[2022-11-15 06:40] Damego commented on #1162
1. Send a message
2. Remove that message

Or

Remove not cached message(any object which can be cached)

[2022-11-15 14:38] sillyElvy commented on #1162
@Catalyst4222
https://github.com/interactions-py/library/blob/unstable/interactions/api/gateway/client.py#L562 change this to `.pop(id)` and then join and leave a vc. This should trigger it. At least it did for me

[2022-11-22 20:47] sillyElvy commented on #1162
Seems to be resolved :tick:

[2022-11-22 20:47] #1162 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-11-23 17:13] #1054 closed, assigned to AstreaTSS, FayeDel, Toricane, Catalyst4222, sillyElvy

[2022-11-26 20:21] shradinx opened #1180 "[REQUEST] Add event listener for bot disconnect"
### Describe the feature.

I am currently developing my own Discord bot using interactions.py, however due to my internet not being the best, the bot tends to go offline randomly. I would like to know when the bot goes offline, and adding an event listener to listen for bot disconnects can help with this. Discord.py has an on_disconnect function, so it would make sense to have one here for interac

[2022-11-30 14:54] JamesTesting888 commented on #1180
This would be amazing.